{% extends 'front/base.html.twig' %}

{% block body %}



<div class="container-fluid">
    <div class="boxSM row">
        <h1 class="card-title">{{ listing.title }}</h1>
        <p class="card-text">{{ listing.description }}</p>
        <a href="{{ path('app_front_listing_new') }}" class="btn btn-success">
            Créer une Annonce
        </a>
    </div>
    
</div>


       
{% endblock %}