{% extends 'front/back.html.twig' %}

{% block body %}
<div class="boxXL row">
    <h1>Liste des Models</h1>

    <table class="table table-success table-striped table-hover">
        <thead>
            <tr>
                
                <th>Nom</th>
                <th>Description</th>
                <th>action</th>
                <th>action</th>
            </tr>
        </thead>
        <tbody>
        {% for model in models %}
            <tr>
                
                <td>{{ model.name }}</td>
                <td>{{ model.description }}</td>
                <td>
                    <a class="btn btn-outline-success" href="{{ path('app_back_model_show', {'id': model.id}) }}">Voir</a>
                    
                </td>
                <td>
                    
                    <a class="btn btn-outline-primary" href="{{ path('app_back_model_edit', {'id': model.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
   
</div>    

    
{% endblock %}
