{% extends 'front/back.html.twig' %}


{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="boxSM row">
    <h1>Ajouter une nouvelle marque</h1>

    {{ include('back_brand/_form.html.twig') }}

  
    <div>
{% endblock %}
