{% extends 'front/base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block body %}

    
    <div class="boxSM row">
     <h1>Créer une nouvelle annonce</h1>
    {{ include('front_listing/_form.html.twig') }}

    <a href="{{ path('app_front_listing_index') }}">Retour à la liste</a>
    </div>
{% endblock %}
